/*h2{color: green;font:35px "黑体"}*/
/*a{text-decoration: none;color: #009;}*/
/*span{color: orange;}*/
div.body{background-color: #eee;font-size: 2em;line-height: 5em;text-align: center;}
img{vertical-align: middle;}
.one{text-align: center;vertical-align: middle;font-size: 2em;}
.two{color: red;text-decoration: underline;text-transform: capitalize;vertical-align: middle;}